@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
h1{
    text-align: center;
    font-size: 150px;
    font-family: "Rubik", sans-serif;
    margin-top: 10px;
    color: #f1948a;
}
.container{
    background-color: #fef9e7;
    width: fit-content;
    border-radius: 2%;
    border: solid 1px  #fef9e7;
    
}
.mapa{
    text-align: center;
    margin-top: 50px;
    border: solid 10px #000;
    outline: 20px outset #f2f4f4;
    width: 30%;

}
h3{
    font-family: "Rubik", sans-serif;
    color: #f1948a;
    font-size: 90px;
    text-align: left;
    margin-left: 400px;
}
.items{
    text-align: left;
    font-family: "Rubik", sans-serif;
    color: #000;
    font-size: 85px;
    margin-left: 400px;
    font-weight: 600;
}
::marker{
    color: #f1948a;
}
p{
    text-align: left;
    font-family: "Rubik", sans-serif;
    color: #000;
    font-size: 70px;
    margin-left: 400px;
    font-weight: 580;
    margin-right: 270px;
}
hr{
    border-color: #000 ;
}